<section title="Gradients">
    <h2 class="pascalCase">LGBT Flag</h2>
    <div class="container">
        <div class="content">
            <div class="lgbt-flag"></div>
        </div>
    </div>
</section>
<section title="American Flag">
    <h2 class="pascalCase">American Flag</h2>
    <div class="container">
        <div class="content">
            <div class="row" *ngFor="let row of array(rowNumber).fill(1)">
                <div class="column" *ngFor="let column of array(columnNumber).fill(1)">
                </div>
            </div>
        </div>
    </div>
</section>