<section title="shapes">
    <h2>Shapes</h2>
    <ul>
        <li class="container">
            <div class="content">
                <h3>Here is a box</h3>
                <div class="box"></div>
            </div>
        </li>
        <li class="container">
            <div class="content">
                <h3>Here is a triangle</h3>
                <div class="triangle"></div>
            </div>
        </li>
        <li class="container">
            <div class="content">
                <h3>Here is an arrow</h3>
                <div class="arrow"></div>
            </div>
        </li>
        <li class="container">
            <div class="content">
                <h3>Here is a circle</h3>
                <div class="circle"></div>
            </div>
        </li>
    </ul>
</section>
<section title="translations">
    <h2>Translations</h2>
    <ul>
        <li class="container">
            <div class="content">
                <h3>Here is a box</h3>
                <div class="box"></div>
            </div>
        </li>
        <li class="container">
            <div class="content">
                <h3>Here is a triangle</h3>
                <div class="triangle"></div>
            </div>
        </li>
        <li class="container">
            <div class="content">
                <h3>Here is an arrow</h3>
                <div class="arrow"></div>
            </div>
        </li>
        <li class="container">
            <div class="content">
                <h3>Here is a circle</h3>
                <div class="circle"></div>
            </div>
        </li>
    </ul>
</section>